@charset "UTF-8";

/*------ LAYOUT ------*/
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	background-color: #ddd;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
header { background-color: #000; color: #3ae; }
header img { vertical-align: -3px; }
header, footer { text-align: center; }
footer { margin-top: 20px; }
.title { font-size: 52px; }
.content { min-height: 200px; }
.box {
	width: 280px;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	background-color: #eee;
	/* box-shadow: 0 10px 20px rgba(0,0,0,0.5); */
}
#myTabs {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dotted #999;
}
.tabs {
	/*margin: 0;
	padding: 20px 0 0 0;
	border-top: 1px solid #ccc;*/
}
.tabbar li {
	display: block;
	float: left;
	margin: 0 3px 0 0;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	border-top: 1px outset #ddd;
	border-right: 1px outset #ddd;
	border-left: 1px outset #ddd;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	text-decoration: none;
	color: #333;
	background-color: #ddd;
	cursor: pointer;
	/*outline: none;*/
}
.tabbar li:hover {
	background-color: #fff;
}
.tabbar li.selected {
	height: 31px;
	background-color: #fff;
}
.tabcontent {
	display: none;
	min-height: 210px;
	margin-top: -1px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #fff;
	border: 1px outset #ddd;
}
.tabcontent.selected {
	display: block;
}
.tabcontent table { border-collapse: collapse; }
.tabcontent th { padding: 3px 0; border-bottom: 1px solid #666; font-weight: normal; }
.tabcontent td { padding: 3px 0; border-bottom: 1px solid #ddd; color: #666; }

/*------ FORMS ------*/

.alert { display: none; color: #c00; }
.required label:after { content: "*"; color: #c00; }
.required span.error { display: none; line-height: 1em; padding: 3px 0; font-size: .9em; color: #c00; }
.invalid input, .invalid textarea, .invalid select { background-color: #fdd !important; border-color: #c00 !important; }
.invalid span.error { display: block; }

label { color: #000; }

input[type=checkbox] {
	vertical-align: middle;
}
input, textarea {
	margin: 0;
	padding: 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
input[type=time],
input[type=number],
input[type=number] {
	width: 40px;
}
input[type=button] {
	border: 1px outset #ddd;
	background-color: #ddd;
	color: #000;
	cursor: pointer;
	appearance: button;
	-moz-appearance: button;
	-webkit-appearance: button;
}
input[type=button]:hover {
	background-color: #fff;
	border-color: #fff;
}
input[type=submit] {
	border: 1px outset #3ae;
	background-color: #3ae;
	color: #fff;
	cursor: pointer;
	appearance: button;
	-moz-appearance: button;
	-webkit-appearance: button;
}
input[type=submit]:hover {
	background-color: #5cf;
	border-color: #5cf;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	outline: none;
	background-color: #fff;
	border-color: #3ae;
	box-shadow: 0 0 5px #3ae;
}
.input-text{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.button-submit{
	width: 100px;
}
select {
	display: inline-block;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	margin: 0 3px 0 0;
	padding: 7px 17px 7px 7px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAE6SURBVGiB7dc9SkNBFIbh54qV4M8OBC0EFyHY6DZsdAMWriAguAoRRPegnWCjINirWAtaGhTGwhRBYnL/yLmBeWG6OYfvHQ7DTJFSMsvMRQdoShaIJgtEkwWiyQLRZIFoskA0WSCamReQUqq0cIY+Usurj9OqeYqqP7KiKF6w2uTQxvCaUqrUu84IHeKtRt0k3nFUuarGCMEePrU7Pge18tQUgOMWBU5qH2gDgXlctBD+ctBr6gKwiJsG4W+xNNxw2gKwgaca4Z+x+bdZhADs+L1Fyob/wO6oRlECsI/vEuG/BntHEikwh14JgR6KLgrAgvE30/lgz79EC8AKrkeEv8LypOIuCMA67ofC32GtTGFXBGAbj3jAVtmiqnkqv0a7xsx/aLJANFkgmiwQTRaIJgtEkwWiyQLR/ABHmVZNXoJnUwAAAABJRU5ErkJggg==) no-repeat right #fff;
	background-size: 18px 18px;
	color: #000; 
	border: 1px solid #ccc; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 100%;
	-webkit-appearance: none;
	-moz-appearance: window;
	appearance: none;
	text-indent: 0.01px;
	text-overflow: "";
	font-family: Arial, Helvetica, sans-serif;
}
:-moz-any(select) { background-image: none; padding-top: 9px; }
select::-ms-expand { display: none; }
select:focus { outline: none; }
select::-moz-focus-inner { border: none; }
@-moz-document url-prefix() {
	.css-select{
		display: inline-block;
		margin: 0 3px 0 0;
		border: 1px solid #ccc; 
		-moz-border-radius: 5px;
		border-radius: 5px;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAE6SURBVGiB7dc9SkNBFIbh54qV4M8OBC0EFyHY6DZsdAMWriAguAoRRPegnWCjINirWAtaGhTGwhRBYnL/yLmBeWG6OYfvHQ7DTJFSMsvMRQdoShaIJgtEkwWiyQLRZIFoskA0WSCamReQUqq0cIY+Usurj9OqeYqqP7KiKF6w2uTQxvCaUqrUu84IHeKtRt0k3nFUuarGCMEePrU7Pge18tQUgOMWBU5qH2gDgXlctBD+ctBr6gKwiJsG4W+xNNxw2gKwgaca4Z+x+bdZhADs+L1Fyob/wO6oRlECsI/vEuG/BntHEikwh14JgR6KLgrAgvE30/lgz79EC8AKrkeEv8LypOIuCMA67ofC32GtTGFXBGAbj3jAVtmiqnkqv0a7xsx/aLJANFkgmiwQTRaIJgtEkwWiyQLR/ABHmVZNXoJnUwAAAABJRU5ErkJggg==) no-repeat right #fff;
		background-size: 24px 24px;
	}
}
input[disabled] {
	background-color: #ddd;
	border-color: #ddd;
}
.datetime {
	margin: 0;
	padding: 0;
}

/*------ FORMATTING ------*/
h1, h2, h3 {
	margin: 0;
	padding: 10px 0;
	font-weight: normal;
}
h1 { font-size: 2.0em; }
h2 { margin-bottom: 10px; padding-top: 12px; font-size: 1.3em; border-bottom: 1px dotted #999; }
h3 { font-size: 1.2em; text-align: center;}
p { margin: 0; padding: 0 0 10px 0; }
a { color: #3ae; }
.questions li { padding-bottom: 15px; }
p.download { text-align: center; }
.hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
/*.row { padding: 5px 10px; }
.row.alt { background-color: #ddd; }*/
.row label {
	
}

/*------ CALENDAR ------*/
.cal {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border: none;
	/*border-bottom: 1px dotted #999;*/
}
.cal th {
	height: 25px;
	text-align: center;
	vertical-align: top;
	font-size: .9em;
	color: #666;
	font-weight: normal;
}
.cal abbr {
	border: none;
}
.cal td {
	padding: 1px;
	text-align: center;
	vertical-align: middle;
}

.cal div {
	padding: 1px;
	width: 90%;
	height: 36px;
	line-height: 36px;
	border: 1px outset #ddd;
	background-color: #ddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
}
.cal div.today { font-weight: bold; }
.cal div:hover,
.cal td:focus div,
.cal td[aria-selected=true] div {
	background-color: #fff;
}
.cal div.disabled {
	background: none;
	border: 1px solid #ddd;
	color: #ccc;
	cursor: default;
}
.cal div.disabled:hover,
.cal td:focus div.disabled,
.cal td[aria-selected=true] div.disabled {
	background: none;
}
.cal div.hasdata {
	background-color: #3ae;
	color: #fff;
}
.cal div.hasdata:hover,
.cal td:focus div.hasdata,
.cal td[aria-selected=true] div.hasdata {
	background-color: #fff;
	color: #3ae;
}
.monthnav {
	float: right;
	padding-top: 10px;
}
.monthnav img {
	vertical-align: -6px;
}
.monthnav button{
	display: block;
	float: left;
	padding: 0;
	height: 30px;
	line-height: 30px;
	padding: 0 6px;
	background: none;
	border: none;
	font-size: 100%;
	text-decoration: none;
	color: #333;
}
.monthnav button:hover {
	background-color: #ddd;
}


.graph_large { display: none; }

.attention {
	/*font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;*/
	font-style: italic;
	color: #666;
}

@media (min-width: 480px) {
body { font-size: 100%; }
.monthnav { padding-top: 13px; }
h2 { font-size: 1.5em; }
p { padding-top: 10px; }
.login { width: 320px; }
.content { width: 434px; }
.tabbar li { height: 40px; line-height: 40px; }
.tabbar li.selected { height: 41px; }
.cal div {
	padding: 2px;
	height: 56px;
	line-height: 56px;
	font-size: 1em;
}
/*.cal .weekday {
	width: 60px;
}
.cal button {
	height: 60px;
	font-size: .9em;
}
.cal .date {
	width: 60px;
	height: 60px;
	line-height: 60px;
}*/
.graph { display: none; }
.graph_large { display: block; }
.tabs a { height: 40px; line-height: 40px;}
.tabs a.selected { height: 41px; }
select { padding: 10px 30px 10px 10px; background-size: 24px 24px; font-size: 16px; }
input, textarea { padding: 10px; font-size: 16px; }
}
@media (min-width: 520px) {
.box { padding: 10px 20px; }
}